* {
    background-color: rgb(44, 44, 44);
    color: whitesmoke;
    font-family: "Lucida Console","Courier New", monospace, sans-serif;
}


.heading {
    display: flex;
}

.heading-link {
    text-decoration: none;
}

#logo {
    height: 50px;
    width: 50px;
    border-radius: 100px;
    margin-top: 10px;
}

#heading-title {
    margin-left: 20px;
}

.ingredient {
    margin: 20px 0px 20px 0px;
}

.step {
    margin: 20px 0px 20px 0px
}