* {
    background-color: rgb(44, 44, 44);
    color: whitesmoke;
    font-family: "Lucida Console","Courier New", monospace, sans-serif;
}


.heading {
    display: flex;
}

#logo {
    height: 50px;
    width: 50px;
    border-radius: 100px;
    margin-top: 8px;
    border: 2px solid transparent;
}

#logo:hover {
    border: 2px solid #FFFFFF;
}

#heading-title {
    margin-left: 10px;
}

.ingredient,
.step,
.r-list-item {
    margin: 20px 0px 20px 0px;
}

.r-list {
    list-style-type: none;
}

.r-link:hover {
    color: #fabc3d;
}

.r-link {
    text-decoration: none;
}

.food-img {
    border-radius: 15px;
}
