* {
    background-color: rgb(44, 44, 44);
    color: whitesmoke;
    font-family: "Lucida Console","Courier New", monospace, sans-serif;
}

li {
    margin: 35px 0px 50px 0px;
}

.heading {
    display: flex;
}

#logo {
    height: 50px;
    width: 50px;
    border-radius: 100px;
    margin-top: 5px;
}

.ingredients {
    margin: 20px 0px 20px 0px;
}